#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -2; }

#stripes {
  position: fixed;
  top: 0;
  left: 0px;
  width: calc(100% - 0px);
  height: 100vh;
  background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
  clip-path: polygon(100% 0, 100% 70%, 0 99%, 0 0);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr); }

#stripes :nth-child(1) {
  grid-area: 1 / 1 / span 4 / span 2;
  background-color: #53f;
  clip-path: polygon(0 0, 100% 0%, 100% 60%, 0% 100%); }

#stripes :nth-child(2) {
  grid-area: 1 / 3 / span 3 / span 2;
  background-color: #4553ff;
  clip-path: polygon(0 0, 100% 0%, 100% 74%, 0% 100%);
  transform: translateY(-30px); }

#stripes :nth-child(3) {
  grid-area: 1 / 5 / span 2 / span 2;
  background-color: #4f40ff;
  clip-path: polygon(0 0, 100% 0, 99% 5%, 0 70%); }

#stripes :nth-child(4) {
  grid-area: 3 / 11 / span 3 / span 2;
  clip-path: polygon(0 23%, 100% 0%, 100% 77%, 0% 100%);
  background-color: #0dcfff; }

#stripes :nth-child(5) {
  grid-area: 8 / 1 / span 5 / span 4;
  clip-path: polygon(0 23%, 100% 0%, 100% 80%, 0% 100%);
  transform: translateY(10px);
  background-color: #1fa2ff; }

.home {
  position: relative;
  z-index: 1;
 }

.container {
    margin-top: 20px;
}

.limpiot {
    font-weight:bold;padding: 5px; background-color: white;color: #4f40ff; border-radius: 5px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 5vw;
}

.btn-cdi {
    background-color: #948BB7;

}

.btn-cdi:hover {
    background-color: #6B87B7;

}

.tools {
    font-weight:bold;padding: 5px; color: #4f40ff; border-radius: 5px;
    background-color: #948BB7;
    color: white;

    padding-left: 20px;
    padding-right: 20px;
    font-size: 2vw;
}

.tintoreriatop {
    text-align: right; color: #EEEEEE; font-weight: bold;
    font-size: 5vw;
}

.btn-cdi-green {
    background-color: #ECF5CE;

    color: #005257;
    font-size: 1vw;
}

.header-tools {
    color: white; font-weight: normal; font-size: 1vw;
}
.header-tools:hover {
    color: white;
}

th {
    background-color: #1155CC !important;
    color: white !important;
    text-align: center !important;
}

.btn-cdi-action {
    background-color: #EEEEEE;
    font-weight: bold;
    color: #005257;
    font-size: 1vw;
}
.btn-cdi-action:hover {
    background-color: #EEEEEE;
    font-weight: bold;
    color: #005257;
    border: 1px solid #005257;
    font-size: 1vw;
}

.letter-cdi {
    color: white;
    background-color: #948BB7;
    padding: 5px;
    border-radius: 5px;
}

.letter-cdi:hover {
background-color: #98CE00;
}

.letter-cdi-active {
    background-color: #98CE00;
}
.eye-cdi {
    color: #948BB7;
}

.form-cdi {
    color: #948BB7;
    font-weight: bold;
}

.cancelar i {
    color: red;
}

.guardar i {
    color: #0097A7;
}
.fixed-table-toolbar {

    background-color: #1155CC !important;
    padding: 5px;
}
